[2019-01-08 15:49] scarrazza opened #1 "TODOs"
Here the TODO list:

Warm-up:
- [x] Download 3.0.1 and amcfast 2.0.0
- [x] Runcard for the test mll, DY
- [x] Generate the APPLgrid

Fluid work:
- [ ] Reference NLO QCD, NLO QCD + EW + PI
- [ ] aMCfast and update the methods: fill and reco, and check the output with the ref.

Total mess:
- [ ] applgridphoton and update the amc_convolute method.
- [ ] check the results...

Optional:
- [ ] merging t

[2019-01-11 11:36] scarrazza opened #2 "Import mg5 baseline code"
We need a baseline mg5 code for this project with all bug fixes and patches.
@marcozaro could you please take care of this?

[2019-01-11 11:38] scarrazza opened #3 "Reference processes and applgrids"
We need cross-checked process runcards and reference applgrids for pure QCD.
@enocera , @marcozaro could you please take care of this?

[2019-01-15 10:51] #2 closed, assigned to nobody

[2019-01-18 14:25] cschwan opened #5 "Get rid of amcfast"
I just had short chat with @scarrazza and I am summarizing it here to let you know what I am doing on my end.

As the title suggests, the plan is to get rid of amcfast. Instead of amcfast, we would like to have a small library providing an interface (I) between the Monte Carlo (MC) and what basically amounts to the library (which in principle can be the same as the interface) which stores the part

[2019-01-21 16:31] cschwan opened #6 "Verifying/Testing generated root files"
It would be nice if were able regression test the root files generated by `amcfast`. The problem is that, when I run `mg5_aMC+aMCfast+APPLgrid` once, store the root file, and run the same commands again, I get a *different* root file. One difference is due to the automatic seeding of `mg5_aMC`, but this should be fixed by `set run_card iseed 1` (it isn't, I still get a different file).

Intuitivel

[2019-01-21 18:28] cschwan opened #7 "Get rid of memory leak in amcfast/amcblast"
That's the last `new` still present in `amcblast`:
https://github.com/scarrazza/applgridew/blob/c86737322a25b0a76b28cca58faa48ef994c0e24/amcblast/amcfast_interface.cxx#L236

It seems that this line is absolutely neccessary, meaning the object must be contructed and *never* destructed, not even when the library is unloaded. If the destructor is called, `mg5_aMC` eventually crashes. That doesn't mak

[2019-01-22 11:37] cschwan opened #8 "Figure out a sane way to hook into mg5_aMC"
The functions that are defined in `amcfast` are actually never *directly* called from `mg5_aMC`. This scenario causes the linker, which is called from `mg5_aMC` when generating code, to discard this library. To avoid this, the config script of `amcfast` has the following lines:
https://github.com/scarrazza/applgridew/blob/c86737322a25b0a76b28cca58faa48ef994c0e24/amcblast/amcfast-config.in#L37-L38

[2019-01-24 21:19] #3 closed, assigned to enocera

[2019-01-24 21:30] #6 closed, assigned to cschwan

[2019-01-24 21:31] #8 closed, assigned to nobody

[2019-03-19 10:57] scarrazza opened #10 "Understanding iamp"
@marcozaro could you please tell us which values iamp takes e.g. in pp->jj (interesting setup where there are more LO and NLO contributions)?

[2019-05-07 15:46] cschwan opened #11 "Impact of the EW corrections to PDF fits?"
Now that we have EW corrections I think we should start thinking about an application using the new grids. I was thinking of a first step, where we generate EW corrections/photon-induced contributions for a simple process an study its impact and thereby also verifying that we did makes sense. We have to keep in mind that the new applgridphoton produces a slightly different file format (if thats a

[2019-07-08 11:57] enocera opened #12 "applgridphoton"
I've realised that I need to reinstall applgridphoton given the recent changes. From a clean pull of the github repo, I obtain the following error:
`cd applgridphoton`
`autoreconf -i`
`./configure --prefix=<path_to_my_prefix>`
`./configure: line 15090: syntax error near unexpected token 11,`
`./configure: line 15090:  'AX_CXX_COMPILE_STDCXX(11, noext, mandatory)'`
I thought that the `ax_cxx_compil

[2019-07-08 13:44] #12 closed, assigned to nobody

[2019-07-11 11:38] #5 closed, assigned to cschwan

[2019-07-11 11:38] #10 closed, assigned to nobody

[2019-07-12 16:17] enocera opened #14 "Compiling afpelcomb against applgridphoton"
@scarrazza Suppose that we are able to generate an applgrid with EW corrections. Then in order to produce the FK table, we need to compile apfelcomb against the modified version of applgridphoton. If I do so, I obtain the error pasted below. Before I look into this, are you able to reproduce this error?

make[1]: Entering directory `/home/noceral/Documents/nnpdfgit/apfelcomb/src/core'
g++ -Wall -O

[2019-08-09 11:42] enocera opened #17 "Fix problems with distributions having more than one bin"
I currently cannot generate applgrids with more than one kinematic bin. For this reason, for the time being, one has to define a different analysis for of them. This is of course not optimal, as it introduces a lot of unnecessary redundance. Can we improve on this?

[2019-08-09 12:04] enocera opened #18 "Problem with high mass DY"
I've defined the relevant files for `ATLASZHIGMASS39FB`. However, when I try to produce the corresponding applgrids (`./run.sh ATLASZHIGMASS39FB 1`), I obtain the attached error. It seems to me that the output, launch and analysis cards are correct, at least as far as I can tell from a benchmark of a [QCD] run against the NNPDF FK tables. But please check that I didn't do something stupid.
[error.

[2019-08-11 10:14] #18 closed, assigned to nobody

[2019-10-10 08:35] #14 closed, assigned to nobody

[2019-10-10 08:35] #7 closed, assigned to cschwan

[2019-10-10 08:36] cschwan opened #19 "Fix scale variations in apfelcomb"
Scale variations are very likely to be broken in our 'fixed'-apfelcomb version from the `ew` branch.

[2019-11-07 10:39] cschwan opened #23 "Some analyses don't compile"
Some analyses don't compile on my machine. It seems that at least all analyses with more than one bin fail. The interesting part for the `ATLASTOPDIFF8TEVTRAPNORM` analysis with the first bin is:

    INFO: Using LHAPDF v6.2.1 interface for PDFs
    INFO: Compiling source...
    INFO:           ...done, continuing with P* directories
    INFO: Compiling directories...
    INFO: Compiling on 1 core

[2019-11-07 12:05] #23 closed, assigned to nobody

[2019-11-07 12:19] #1 closed, assigned to cschwan

[2019-11-07 12:19] #17 closed, assigned to cschwan

[2019-11-15 07:41] scarrazza opened #26 "Poles do not cancel"
@cschwan , @marcozaro I am getting the following error for ATLASTOPDIFF8TEVRAPNORM_1:

INFO: P0_gg_ttx
INFO:  Result for test_ME:
INFO:    Passed.
DEBUG:
     Soft test  1 PASSED. Fraction of failures: 0.03
Collinear test  1 PASSED. Fraction of failures: 0.00
     Soft test  2 PASSED. Fraction of failures: 0.00
Collinear test  2 PASSED. Fraction of failures: 0.00
     Soft test  3 PASSED. Fraction

[2019-11-18 10:35] #26 closed, assigned to nobody

[2019-11-18 21:00] scarrazza opened #27 "merge bins bug?"
After commit https://github.com/scarrazza/applgridew/commit/2422e8a55b73b77b036a16fbc258d6c291d2d087, the ATLASZHIGHMASS merge_bin root file gives me:

[code]

which is completely different from an individual query, e.g. for `amcblast_obs_2.root` I get:

[code]

[2019-11-19 16:37] #27 closed, assigned to cschwan

[2019-11-19 16:38] scarrazza opened #28 "bug in applgrids?"
Umm, there is something strange with the single bins applgrids, e.g. I am getting this error:
[code]

[2019-11-19 16:57] #28 closed, assigned to cschwan

[2020-01-15 15:12] cschwan opened #29 "Fix problem with photon-initiated corrections"
The NLO corrections of `a a > e+ e- [QED]` in the APPLgrid are wrong:

    -----------------------------------------------------------
       APPLgrid       mg5_aMC   mg5_aMC unc.  sigmas  per cent
    -----------------------------------------------------------
     9.747559e-02  3.135564e-02 7.118766e-04   92.88  210.87%
     2.451823e-02  3.116021e-02 1.065792e-03    6.23   21.32%
     1.671845e

[2020-01-23 09:39] #29 closed, assigned to cschwan

[2020-03-04 08:28] #11 closed, assigned to nobody

[2020-06-11 15:45] #19 closed, assigned to cschwan

[2020-06-23 14:23] cschwan opened #34 "Make run script print bin boundaries"
For plotting we need the bin boundaries.

[2020-07-21 08:08] marcozaro opened #37 "Latex compilation problem (missing figure)"
! LaTeX Error: File `figures/grid-insertion' not found.

See the LaTeX manual or LaTeX Companion for explanation.
Type  H <return>  for immediate help.
 ...

l.253 ...\includegraphics{figures/grid-insertion}

[2020-07-21 14:56] #37 closed, assigned to nobody

[2020-07-30 18:52] #34 closed, assigned to nobody

[2020-08-01 13:42] enocera opened #38 "applgrid_ew folder"
Can we remove the applgrid_ew folder?

[2020-08-01 20:19] #38 closed, assigned to nobody

[2020-08-03 08:09] marcozaro opened #40 "some comments on sect3"
Hi,
here i put some commetns on sect3:
- processes in which EW corrections are expected to be sizeable: well, not particularly per se (We are always speaking of few %s...) I would maybe write " have an important impact in terms of the prediction accuracy"
- in the description of the processes, the sentence about the luminosities:
The process receives contributions from 12 (34) parton luminosities

[2020-08-10 07:58] #40 closed, assigned to nobody

[2020-08-16 08:47] cschwan opened #41 "Address remaining issues of the paper"
I think it best if we collect the remaining issues of the paper in this issue here, in one place. Right now they are spread over several emails, which is probably not ideal.

[2020-08-27 19:23] #41 closed, assigned to nobody

[2020-10-27 14:44] cschwan opened #59 "Rapidity issue for ttbar processes"
Some ttbar processes calculate rapidities without taking the absolute value. This potentially wastes 50% of the phase space events, which should be fixed.

[2020-11-06 09:05] scarrazza opened #64 "Higgs"
Following our discussion yesterday, I am trying to build pineappl grids for Higgs cross-sections.
I am observing 2 problems, the first unrelated and the other related to madgraph+pineappl:

- When using MG5 2.8.2 (no pineappl), the VBF channel generated with:
[code]
  when running the NLO fixed order simulation raises:
[code]

- When using the MG5 version for pineappl (3.0.4.beta from bzr, followi

[2020-11-06 10:28] #64 closed, assigned to nobody

[2021-02-08 08:16] cschwan opened #72 "Investigate possible LHCb issue"
For all LHCb datasets we assume that we have a detector with 4pi coverage, and correct by dividing by a factor of two. However, I think this slightly incorrect and possibly overcounts lepton pairs, which are in both hemispheres (one lepton has negative and the other one positive rapidity). I think what we have to additionally do is to require both leptons have the same sign in rapidity. In practic

[2021-02-08 08:35] cschwan opened #73 "Store Monte Carlo runcard in grids"
We should add the file `DATASET/Events/run_01/run_01_tag_1_banner.txt` to the metadata collected in the grids.

[2021-02-08 09:19] #73 closed, assigned to cschwan

[2021-02-09 14:09] cschwan opened #74 "Set missing parameters"
We should check all runcards for missing parameters that should be set to values defined by us, not the default ones of `mg5_aMC`.

Here's an incomplete list:
- `maxjetflavor`. This parameter is set to `4` by default, although for consistency with the model `mg5_aMC` it is set to `5`. We should explicitly set it to `5` to avoid a warning.
- `mh`. The Higgs mass.
- `gf`. The fermi coupling, which d

[2021-02-10 12:44] cschwan opened #75 "Do not use a non-zero photon PDF for NLO QCD comparisons"
Since the APPLgrids usually don't contain photon-photon contributions but the PineAPPL do contain them, for Drell-Yan we shouldn't use a PDF set with a non-zero photon. This is probably OK for Drell-Yan Z around the Z peak, were the relative size of the photon-photon contributions are negligable, but especially for higher invariant masses it makes a noticable difference.

[2021-02-11 12:49] cschwan opened #76 "Normalise grids properly"
Two-dimensional distributions are not supported by `mg5_aMC`, and therefore we linearise the 2D distributions to 1D, but after the grid generation we have to undo the linearisation using `pineappl remap ...` in a `postrun.sh` script to properly normalise them. The following analyses are affected by this:

- [x] ATLAS_DY3D_8TEV, fixed in commit 739ab7fe9c3ed10f8a11667acc56f65fa7499118, but needs im

[2021-02-12 16:59] cschwan opened #77 "Check rapidity vs. pseudorapitdy"
We shouldn't use rapidity when we actually have to use pseudorapidity. This makes a difference when photons are recombined with leptons, which happens when EW corrections are enabled.

[2021-02-15 08:31] cschwan opened #80 "Validate top-pair production grids"
Right now the top-pair production total cross sections don't agree with each other (all with NNPDF31_nlo_as_0118, scale set to the top mass):

- 7 TeV: `1.5627757e2` (PineAPPL) vs. `1.661941e+02` (APPLgrid) - difference is -5.97 %
- 8 TeV: `2.2420122e2` (PineAPPL) vs. `2.380239e+02` (APPLgrid) - difference is -5.81 %
- 13 TeV: `7.4323410e2` (PineAPPL) vs. `7.844937e+02` (APPLgrid) - difference is

[2021-02-15 14:43] cschwan opened #81 "Set scales and parameters of all processes to consistent choices"
The following experiments have inconsistent/unfavourable scale choices:

- ATLASZHIGHMASS49FB has a static scale set to the Z boson mass, whereas it should be set to a dynamic value, similar to CMSDY2D11, for instance
- CMSTTBARTOT5TEV has a static scale set to the top boson mass, which is different from the choice for the 7, 8, and 13 TeV total cross sections (see also #80); it very likely has th

[2021-02-15 18:03] cschwan opened #82 "Rename datasets consistently?"
The naming scheme of the datasets is inconsistent; some use underscores, some don't. We should also remove `NORM` from all names as the PineAPPL grids aren't normalised.

[2021-02-18 18:22] #80 closed, assigned to nobody

[2021-02-23 08:07] cschwan opened #83 "Check impact of potentially wrong ptj1 cut for ATLAS_2JET_7TEV_R06"
~~After merging into master the agreement is gone:~~ I used a different PDF set for the APPLgrid results. After fixing this problem I get:

     -1.02222430    0.23783085    0.42707336    0.08416723   -0.35890027
      0.53332775   -0.65175490    0.37084229    1.34268569    2.56243214
     -1.15846103   -0.37074841    6.52606247    7.92922876    3.69557847
      8.83242374    5.29342734   -0.70616

[2021-02-23 08:08] cschwan opened #84 "Split jet process runcards to maximise statistics in all bins"
Split up jet runcards for

- [ ] `ATLAS_1JET_8TEV_R06`,
- [ ] `ATLAS_2JET_7TEV_R06` (commit e7deef019bb5dfe684ca24064b217c8a178f17f5, probably needs the pole cancellation check disabled),
- [x] `CMS_2JET_7TEV` (commits 2bd1c064926268aff98e6fcb991a24503cfbd1e4 and 961490ad8a99455b019a93ee94847dd53d7845c9) and
- [ ] `CMS_2JET_8TEV_3D`.

The last one has low priority, since I won't be included in the

[2021-02-23 16:19] cschwan opened #85 "Validate CMSDY2D11"
Here the NLO QCD comparison against the APPLgrids using NNPDF31_nlo_as_0118, showing the differences in per mille (negative values correspond to larger APPLgrid values):

    -1.346218521   -0.587107620   -0.703440259   -1.053975521   -3.379005245
    -1.661724065   -0.311729776   -2.359492089   -5.519613276   -3.907902083
    -1.877671720   -4.735872295   -2.497950713   -2.098728547   -2.05651191

[2021-02-23 16:19] cschwan opened #86 "Validate CMS_ZPT_13TEV"

[2021-02-23 16:44] cschwan opened #87 "Validate ATLAS_DY_8TEV_3D"

[2021-02-24 11:48] cschwan opened #88 "Check impact of wrong binning for ATLAS_1JET_8TEV_R06"
Commit f8da69755553c3518f5a9e5193e11fb3e38ac97c fixed a bug which caused some but not all events of the last bin for each slice to be filled into the first bin of the next slice. This should have a large impact on the bin which isn't filled and a negligible impact for the bin that is wrongly filled, see also the comparison in https://github.com/NNPDF/runcards/pull/71.

[2021-03-01 07:00] #85 closed, assigned to nobody

[2021-03-01 07:18] #88 closed, assigned to nobody

[2021-03-01 07:18] #83 closed, assigned to nobody

[2021-03-04 07:21] cschwan opened #89 "Add y_label and y_label_tex metadata"

[2021-03-04 07:23] cschwan opened #90 "Check metadata for mistakes"
- check for missing abs operators (rapidity, pseudorapidity),
- add empty `xn_unit=` for rapidity, pseudorapidity, ...

[2021-03-12 10:11] cschwan opened #92 "Add y_unit metadata consistently"
We should the units for the differential cross sections with `y_unit`, for instance to something like `pb/GeV` or `pb/GeV^2`.

[2021-03-15 15:21] cschwan opened #93 "Fix PDG id = 0 to 21"
In Madgraph5_aMC@NLO the luminosity function is constructed using a `0` for the gluon, but this isn't a proper PDG id. As far as LHAPDF concerns, this isn't a problem, but other programs (EKO, ...) are stricter.

[2021-03-16 10:00] cschwan opened #94 "Fix Madgraph5_aMC@NLO perturbative order specification"
This concerns all processes that can have combined QCD+EW corrections, so top-pair production, ...

[2021-03-16 16:20] #76 closed, assigned to nobody

[2021-03-18 15:44] #92 closed, assigned to nobody

[2021-03-18 15:45] #90 closed, assigned to nobody

[2021-03-18 15:45] #89 closed, assigned to nobody

[2021-03-25 07:20] cschwan opened #97 "Enable complex-mass scheme for top-pair production?"

[2021-03-26 11:25] #97 closed, assigned to nobody

[2021-03-26 15:57] #94 closed, assigned to nobody

[2021-03-30 07:37] #77 closed, assigned to nobody

[2021-04-07 10:35] #74 closed, assigned to nobody

[2021-04-07 10:36] #75 closed, assigned to nobody

[2021-04-07 11:22] #59 closed, assigned to nobody

[2021-04-08 09:04] #81 closed, assigned to nobody

[2021-04-08 09:44] #93 closed, assigned to nobody

[2021-04-08 17:00] #82 closed, assigned to nobody

[2021-05-03 13:36] enocera opened #101 "lz4 grid not created"
Here's something that I don't understand. I'm running the LHCb grids on the stoomboot cluster. Everything seems to go as expected, except for the fact that the .lz4 grid is not produced.

Let's look for instance at LHCB_DY_13TEV_DIELECTRON. I have the launch.log, output.log, pineappl.convolute, pineappl.orders, pineappl.pdf_uncertainty, result.log and time.log files generated (see below). Any idea

[2021-05-03 15:28] #101 closed, assigned to cschwan

[2021-05-05 12:10] #72 closed, assigned to cschwan

[2021-06-21 15:15] cschwan opened #102 "Validate CMS_DY_13TEV_28FB"

[2021-08-12 16:22] cschwan opened #105 "Implement CMS single-jet inclusive cross section for 8 TeV"

[2021-08-19 11:09] #87 closed, assigned to nobody

[2021-09-30 13:25] cschwan opened #106 "Fix wrong cut in LHCb W-boson production grids"
Commit a613598446154cd0247bebb8c0ca1025828cfbe6 introduced a regression, which causes the results to be off by a factor of two (the grids are too small). The reason is a missing `abs` call when the rapidity is calculated, for instance here:

https://github.com/NNPDF/runcards/blob/84e7d9e5a242de4484def8b601a883f7b430b4ab/nnpdf31_proc/LHCB_WM_7TEV/analysis.f#L52

[2021-10-03 05:09] #106 closed, assigned to cschwan

[2021-10-09 20:55] AleCandido opened #108 "Complete runpy package"
Remaining (and non-blocking) tasks for python runner:

- [x] move `pineappl` to madgraph (for a yadism run, python package should be sufficient)
- [x] `merge_grids.sh` -> `merge` 06c56d866cc77f28b2e0001abb79ab22cb59cbc4
  - this and the former depend on n3pdf/pineappl#74
- [x] update README #111
- [x] documenting #111
- [ ] allow for running in a generic folder (dynamically determine `paths.root`)

[2021-10-12 12:04] cschwan opened #109 "Make generated PineAPPL grids reproducible"
For reproducibility reasons we're already putting quite a bit of information into the metadata of the generated PineAPPL grid. However, I think that we can and should improve the situation, especially for Madgraph5 generated grids. In general, I would propose that *reproducibility* means that we can

I presume that this is already the case for yadism (as all the runcards are in the metadata), but

[2021-10-19 14:46] felixhekhorn opened #112 "replace LHAPDF path"
- In order to save space it would be nice to have a automatic tool that links my global LHAPDF `share` to the one inside `.prefix`
- this might be interesting even for @scarlehoff since it could be a thing even inside `lhapdf-management`
- just to be precise: I would like the lhapdf module *inside* the environment (be it `poetry` or `virtualenv`) to use my global PDF cache
- I know, I can do this

[2021-10-26 11:18] #112 closed, assigned to nobody

[2021-10-29 09:33] AleCandido opened #113 "Use user specified PDF set in mg5 runcards"
This is historical. We can replace it with a variable, say `@PDFSET@`, and let the user chose it. However, we should absolutely make sure that whatever PDF is chosen it contains a non-zero photon PDF!

_Originally posted by @cschwan in https://github.com/NNPDF/runcards/issues/108#issuecomment-954593548_

[2021-11-02 13:34] AleCandido commented on #108
I should have implemented this in 06c56d866cc77f28b2e0001abb79ab22cb59cbc4 and we might be able to get rid of the `merge_grids.sh` script.

Nevertheless, I didn't have a suitable test case to check, so I've just made a fake one while developing, but it might not be faithful.
So please @cschwan, test it properly before ticking the item. There is no hurry (not even to delete the shell script).

[2021-11-02 14:55] cschwan commented on #108
@AleCandido I just got Debian 11 (yay!) and running `./rr run TEST_RUN_SH ...` fails here:

https://github.com/NNPDF/runcards/blob/06c56d866cc77f28b2e0001abb79ab22cb59cbc4/runcardsrunner/install.py#L149

complaining that `condition` is undefined (which it is).

[2021-11-02 15:23] AleCandido commented on #108
You're right, I broke it some days ago, it should be fixed in c82b18b48c748eb49da10ca1430924318ac9d6d5.

[2021-11-02 15:36] cschwan commented on #108
That works again, but I get another error:

[code]

[2021-11-02 15:41] AleCandido commented on #108
Unfortunately at the moment you have to run with pineappl `master`, that one has been introduced in a1fe0350b00a1129e35d680c5dfa4448a59f8fa6

[2021-11-02 15:58] cschwan commented on #108
I see, in that case let me make another release.

[2021-11-02 16:27] cschwan commented on #108
Here you go: https://pypi.org/project/pineappl/0.5.0_beta.3/. @AleCandido could you please tell me how I update the required version in the runner?

[2021-11-02 16:31] AleCandido commented on #108
For sure:
- in principle you should be able to do by running `poetry update` in the folder
- since it's a pre-release it might be a bit more complicated (it usually is more complicated for me), and I suggest to delete `poetry.lock`, manually upgrade the version in `pyproject.toml`, and finally rerun `poetry install` (it will regenerate the lock file)

[2021-11-02 16:39] cschwan commented on #108
Both options don't work, and eventually I end up with:

[code]

[2021-11-02 16:41] AleCandido commented on #108
This is not a novelty, I've seen a few times.

At the moment I don't remember why it's happening, nevertheless I tried myself and I've been able to apply the second strategy.

[2021-11-02 16:43] cschwan commented on #108
OK, can you please commit it? I'm reverting my changes in that case. BTW: When do we rewrite it in Rust :stuck_out_tongue_winking_eye: ?

[2021-11-02 16:54] AleCandido commented on #108
It's now published in 5e8542cbe27b642cb075626d9a6681f0f6e77979

I like your style! (aside: python people are not yet there, but js people yes, [swc](https://github.com/swc-project/swc) & [parcel](https://github.com/parcel-bundler/parcel))

[2021-11-04 14:51] felixhekhorn opened #114 "Problem with ATLAS_TTB_DIFF_8TEV_LJ_TTMNORM"
pineapplname: https://github.com/NNPDF/runcards/blob/master/nnpdf31_proc/ATLAS_TTB_8TEV_LJ_TTM

We are seeing an issue with this dataset (more specifically with the NNPDF-pineappl translation). If we use it as is, it does not work:

[code]
[code]

If we look at the dataset in theory 208 we see that it is a compound dataset, but the FKTables that "compose it" are nowhere to be found.
[code]
None of

[2021-11-04 14:56] enocera commented on #114
@felixhekhorn Theory 208 DOES not have the FK tables for the dataset you're mentioning on purpose. The dataset is not part of NNPDF4.0, because it is excluded by our selection criteria. The FK tables for that data set are only in theory 200, which was indeed used to decide whether or not to include the dataset. That being said, I must modify theory 208 by removing the compound files for the datase

[2021-11-04 14:57] enocera commented on #114
For all practical purpose, I'd say that you can safely ignore 'ATLAS_TTB_DIFF_8TEV_LJ_TTMNORM`. And similarly `ATLAS_TTB_DIFF_8TEV_LJ_PTNORM`.

[2021-11-04 14:59] scarlehoff commented on #114
Indeed. The same problem was seen for the PT. I was wondering how come I never saw this problem during the fits. Thanks!

[2021-11-04 14:59] #114 closed

[2021-11-05 11:41] felixhekhorn opened #115 "Mapping PineAPPL to NNPDF"
during the benchmark we realized that the metadata to identify the NNPDF counterpart to a PineAPPL grid is not sufficient:

- there are many PineAPPL grids mapping to a single NNPDF grid: e.g.:
[code]
  ( taken from https://github.com/NNPDF/tutorials/blob/master/pineappl/Create%20new%20cfactor%20files%20with%20pineappl%20-%20Pineappl%20python%20interface%20test%20case.ipynb - thanks @scarlehoff (a

[2021-11-05 11:53] scarlehoff commented on #115
The only way I know of!

Yes _but_ I would just do the order (name, table_idx=i) because the bins are too sensible and don't really matter*.
And in practice you are going to still do:

[code]

Why would I do it in that order? Because the NNPDF array is a pandas dataframe where not necessarily all points are contained and so this

[code]

will fail unless there isn't a call to `function_that_conver

[2021-11-05 13:09] cschwan commented on #115
If we add metadata I'd add `nnpdf_id_subset` which can be set to `0`, `1`, `2`, ... that uniquely defines the ordering.

However, in the long term, I'd rework the way data is implemented in such a way that this becomes obsolete. Maybe we can have NNPDF IDs of the form `nnpdf_id=LHCBWZMU7TEV.Z`, `nnpdf_id=LHCBWZMU7TEV.WP` and `nnpdf_id=LHCBWZMU7TEV.WM` such that validphys recognizes the three belon

[2021-11-05 13:29] cschwan commented on #108
Before we merge this I propose to change the name to something different, because 'runcards runner' is redundant. This is best displayed by the way we call it:

[code]

This is basically saying: runcards runner run ..., which I also find a bit confusing. What it actually does is to generate interpolation grids, so one idea would be to call it [`gig`](https://dictionary.cambridge.org/dictionary/eng

[2021-11-05 13:47] AleCandido commented on #108
For me is perfectly fine, the thing has been named `runcardsrunner` exactly in lack of a better name, and the `rr` abbreviations has been chosen to make it similar to a common command (filling an empty slot of Unix) and actually to mask the redundancy.

TBH at the moment I didn't fall in love with `gig` either, but it's definitely better than `rr` (and maybe if you give some time I'll start liking

[2021-11-05 13:53] cschwan commented on #108
I'm not insisting on any name, but I think it's important that we give the tool

1. a name that better reflects what it does and that the name
2. is redudancy free.

My claim is that currently this isn't the case :smile: . So @AleCandido @felixhekhorn @scarlehoff if you have suggestions please share them!

[2021-11-05 14:19] felixhekhorn commented on #115
I think for the moment = benchmarking, I will do as @scarlehoff said and introduce again some handcrafted settings (and iterating over NNPDF e.g. instead etc.) - we can (should) improve in the future maybe nevertheless

[2021-11-05 14:19] #115 closed

[2021-11-05 17:47] AleCandido commented on #108
As I said, the situation was tragic before, we brainstormed with @felixhekhorn after one lunch with really moderate results.

Just to clarify once more, I like more `gig` than `rr`. Nevertheless, let's make a poll:

[![](https://api.gh-polls.com/poll/01FKRKBBKF19B7P7CCQWS0PVD4/%60rr%60)](https://api.gh-polls.com/poll/01FKRKBBKF19B7P7CCQWS0PVD4/%60rr%60/vote)
[![](https://api.gh-polls.com/poll/01FK

[2021-11-09 14:42] AleCandido commented on #109
Runcards added to madgraph generated grids with `launch.txt` and `output.txt` keys 408fc7a7bfca79e49fb445c2b54573735202722b.

[2021-11-09 17:27] AleCandido commented on #109
I decided that merging patches is a too complex operation, and we already store the git version of `runcards` repo, so we can rely on patches and cuts that are shipped with the repo/the package.

Thus in d772102 I added to metadata:
- `patches`, i.e. a list of patches' names, one per row
- `tau_min`, i.e. the min tau value, if present
- `user_cuts`, i.e. user defined cuts and cuts values, one per

[2021-11-10 17:35] AleCandido commented on #109
Documentation added in b05f01ab9f2a04152386a962f536bde9df2c54b9.

Now I'd close, do you think there is still anything to do @cschwan?

[2021-11-11 09:22] cschwan commented on #109
@AleCandido

- where can I read the documentation online? We should add a badge for that or at least a link
- I'd keep the Issue open, as it isn't fixed (but as I said, not really a problem)

[2021-11-11 10:12] felixhekhorn commented on #109
Someone has to activate the project on readthedocs - the configuration is already there ... when I look there, I can't activate the repo since it is not listed in my projects (only N3PDF repos) ...

[2021-11-11 10:33] cschwan commented on #109
@scarrazza I think the problem is that this repository isn't N3PDF but NNPDF. Should we migrate it together with the renaming?

[2021-11-11 14:14] #113 closed

[2021-11-11 14:19] AleCandido commented on #109
Sorry not to have replied before, since it is public documentation has been deployed at https://runcars.readthedocs.io/en/latest/

(notice that, for an unknown reason, is deployed at `runcars` rather than `runcards`, but since we're about to switch name I'd not bother to change it)

[2021-11-11 14:27] AleCandido commented on #109
What do you still want from this one? From the point of view of saving the information I believe we have everything.

Maybe you would like to have a streamlined way to run from a pineapplgrid, rather than having to reconstruct the runcard (and maybe in this case I could store in the metadata which external has been used, to make it easier to pick that one). If so, please add this among the tasks i

[2021-11-11 14:53] cschwan commented on #109
Runcars, I like it :grin: !

[2021-11-26 10:04] cschwan commented on #108
@AleCandido can you please upgrade the version of the pineappl Python dependency to most recent version (should be beta.4)? Otherwise I get the well-known problems with the upgraded file format.

[2021-11-26 10:48] AleCandido commented on #108
Done :)

[2021-11-26 10:57] cschwan commented on #108
What did you do to update the dependency? I always run into errors.

[2021-11-26 15:02] AleCandido commented on #108
Before I simply tried `poetry update`, and it updated to `beta.3`, but for some reason it did not detect `beta.4`.

Then I did as usual:
[code]

For the last command, I'm pretty sure you can also use `poetry install`: essentially, the command itself is not relevant, but you want whatever `poetry` "active" command to rerun, in order to regenerate the new `poetry.lock`.

[2021-11-26 15:53] cschwan commented on #108
When I do that, I get

[code]

[2021-11-26 18:52] AleCandido commented on #108
I'm familiar with that error: essentially every time that something goes wrong, `poetry` emits that unhelpful error.

However, since we have two different behaviors with the same procedure, I wonder if the problem might be `poetry` version.
Mine is:
[code]

[2021-12-16 14:51] cschwan opened #118 "More problems with poetry on `dom`"
A fresh installation with `./rr install` on dom fails:

[code]

[2021-12-16 15:51] AleCandido commented on #118
Might be something legacy, looks related to `zzz_poetry_dynamic_versioning.pth`.

Try to remove that file and retry:
[code]

To me it solved the thing. Most likely `poetry_dynamic_versioning` had its own weird installation, and it migrated to something more reasonable... and breaking.

[2021-12-16 16:06] cschwan commented on #118
@AleCandido thanks, that worked!

[2021-12-16 16:49] felixhekhorn commented on #108
you maybe want to close this issue here and leave the open task (improved path handling) to a future PR

[2021-12-16 16:51] felixhekhorn commented on #109
I guess this issue is completed?

[2021-12-16 17:06] AleCandido commented on #108
We have more urgent things than closing old issues, we can wait for the time being :)

[2021-12-16 17:08] AleCandido commented on #109
To be honest, I noticed a while ago, but I didn't figure why...

[2021-12-17 08:27] cschwan commented on #118
I'm not sure that's a general problem, but since I've only seen it on dom so far, I'm closing this Issue.

[2021-12-17 08:27] #118 closed

[2021-12-17 08:31] AleCandido commented on #118
In case we'll see it again, we have here a record.

I believe it's a problem with the environment, most likely the installation on a fresh system would have not experienced the same issue. But we'll see.

[2021-12-17 13:16] #109 closed

[2021-12-21 09:26] cschwan opened #119 "Add PDF4LHC high invariant-mass distributions"
To investigate the negativity of PDFs we need to scan the invariant mass range from 1 to 7 TeV, similarly to figure 9.8 in the NNPDF4.0 paper, for both neutral- and charged-current DY.

[2021-12-28 20:31] cschwan opened #120 "Fix problems with MC with user-defined minimum partonic energy"
When running processes which with a custom and large tau min (the partonic centre-of-mass energy), for instance `NNPDF_TTB_14TEV_40_PHENO`, the generation is stuck at step 0 of the MC. Running one of the stuck processes manually, the standard output is:

[code]

Apparently there's a numerical problem when calculating the lambda function in `genps_fks.f`, which could cause this problem.

[2022-01-10 09:36] marcozaro commented on #120
Why is tau=340? this is even lower than 2*mt ...

Marco Zaro

On Tue, Dec 28, 2021 at 9:31 PM Christopher Schwan ***@***.***>
wrote:

[2022-01-10 12:31] cschwan commented on #120
@marcozaro because I set it manually to that value. Is that bad? Is it the minimum centre-of-mass energy automatically set to the correct value in the case of top-pair production?

[2022-01-10 12:52] marcozaro commented on #120
Hi,
in the case of massive particles, the three tau_min's are always set to the sum of masses. The fact that it is hardcoded below may introduce bugs or unwanted behaviours

cheers,

Marco

[2022-01-10 12:58] cschwan commented on #120
OK in that case removing it should fix the problem.

[2022-01-12 09:48] cschwan opened #122 "Problem with poetry"
[code]

_Originally posted by @marcozaro in https://github.com/NNPDF/runcards/issues/121#issuecomment-1010845839_

[2022-01-12 10:42] AleCandido commented on #122
https://github.com/NNPDF/runcards/blob/70396b76f72502fef1f549dcd450fa92d66fd610/README.md#L16-L19
Is this not enough?

[2022-01-12 10:56] cschwan commented on #122
No, it wasn't.

[2022-01-12 11:29] AleCandido commented on #122
Then we need more information. `poetry` is not available as a package, but `./rr install` should have made it available.

So we need him to run:
[code]
And please give even the full output of `./rr install`.

[2022-01-12 12:32] cschwan commented on #122
@marcozaro ?

[2022-01-12 15:38] marcozaro commented on #122
pip list | grep poetry
poetry-dynamic-versioning 0.13.1

[2022-01-12 16:20] AleCandido commented on #122
Feel free to uninstall `poetry-dynamic-versioning` if it's causing you problems.
In principle, you just need to properly tag your grids with `runcards` version (including commit sha if `dirty`).

[2022-01-12 16:21] marcozaro commented on #122
Hi,
so
pip3 install poetry gives a lot of things, and ends with...

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dunamai 1.7.0 requires importlib-metadata>=2.1.1; python_version < "3.8", but you have importlib-metadata 1.7.0 which is incompatible.

probably it is relate

[2022-01-12 16:24] AleCandido commented on #122
In principle this the requirements of `poetry 1.1.x`:

[code]
https://github.com/python-poetry/poetry/blob/43943ba62f2eb7ea78687704bb5cef930cb830d5/pyproject.toml#L25

while on master it is:
[code]
https://github.com/python-poetry/poetry/blob/ecb030e1f0b7c13cc11971f00ee5012e82a892bc/pyproject.toml#L35

[2022-01-12 16:25] AleCandido commented on #122
Sorry to have done it in two steps, but try using the suggested installer via `curl` (I amended the former comment, maybe later than you read it :disappointed:)

[2022-01-12 16:45] cschwan commented on #122
@marcozaro if I read your error message properly, `importlib-metadata` should be upgraded. Does

[code]

do the trick?

[2022-01-12 16:55] AleCandido commented on #122
It's not my error message, that is coming directly from `pip`.

Poetry recommended installation method (from [website](https://python-poetry.org/docs/#installation)) is:
[code]
(actually website say to run with `python`, added the `3` myself to be sure)

[2022-01-17 17:42] AleCandido opened #123 "Add conversion backend"
As we have different MC available as back-end (at the moment `mg5` and `yadism`), we should add a `conversion` back-end powered by `pineappl` conversion scripts.

Indeed, we are not able to produce all of the grids needed (and we won't be for quite some time), as some of them are the result of MC runs, with some non-publicly available MC.
In these cases we're gently *gifted* the runcards, so we sh

[2022-01-17 18:10] cschwan commented on #123
What exactly should we convert? Can you give an example?

[2022-01-18 08:55] AleCandido commented on #123
I'm not so familiar with our APPLgrids/fastNLO grids, but for example (if I remember correctly) we should have grid from NNLOjet, for which we don't have the code, and we won't have soon (if ever) another code to produce them.

Even though, I guess most of the things are actually K-factors...
(but we agreed to drop K-factors, didn't we?)

[2022-01-18 09:07] cschwan commented on #123
Do you mean those: <https://ploughshare.web.cern.ch/ploughshare/>? For them we have `appl2pine` and `fnlo2pine`, of course.

[2022-01-18 11:33] AleCandido commented on #123
In any case, these or others, since those grids are not PineAPPL grids and we need to convert, I was thinking about make `appl2pine` and `fnlo2pine` part of the runcards runner, such that you have a uniform way (a single command) to generate them, even if they are coming by conversion.

Maybe, it would be appropriate to warn explicitly in case of conversion, but this can always be done.

[2022-01-18 11:38] felixhekhorn commented on #123
Why do we need a warning? it is just generated by some specific program, i.e. `wget` more or less

[2022-01-18 11:41] felixhekhorn commented on #123
@cschwan to give you a bit more of context: yesterday we were brainstorming a bit about the new "theory layout" (theory in Emmanuele sense) and we figured it should be sufficient to have a list of PineAPPL grids together with a file which spells out how to combine the grids together to match to the experimental datasets - the specific format of that file is to be discussed in https://github.com/NN

[2022-01-18 11:45] AleCandido commented on #123
The specific program will be `appl2pine` (for example), and thus `pineappl`, *and* `wget`-like.

In any case, I thought that by default a computation from scratch is expected, since this should *run* (based on the runcards). If a conversion of a former run is happening behind the scenes, better to warn, or not?

[2022-01-18 11:50] felixhekhorn commented on #123
Ok, I see - but actually it's a bit more complext: the user only specifies the `theory` card, (which, as you said, would be ignored since we have no other choice), but the "MC runcard" is always in the (`runcards`) repo and not explicit (so is by chance implecitly the one the NNLOjet people used)

[2022-01-18 11:55] AleCandido commented on #123
I guess we have no access to the NNLOjet runcard, since we have even no access to NNLOjet.

So I believe in the corresponding runcards folder, there will be only `metadata`, and the actual `runcard` will be replaced with information needed to retrieve the grid...

[2022-01-18 11:57] scarlehoff commented on #123
I think NNLOjet has only been used for K-factors?

[2022-01-18 11:58] AleCandido commented on #123
Yeah, but the idea was to get rid of K-factors, and burn them into PineAPPL grids, if I'm not wrong...

[2022-01-18 12:04] scarlehoff commented on #123
Really? In any case, what information do you need from NNLOJET (or any other program?). The K-factors are a bit of a "god given" number.

I think the idea is (or should be) getting rid of K-factors and using NNLO grids.

[2022-01-18 12:07] AleCandido commented on #123
But how do you generate NNLO grids? And in particular, how do you generate NNLO grids in the next few weeks/months?

[2022-01-18 12:08] scarlehoff commented on #123
You don't. That's why I'm not entirely sure why is this relevant. In the next few weeks/months the k-factors are "god-given" numbers already in NNPDF and that are applied on top of the NLO grids.

[2022-01-18 12:19] AleCandido commented on #123
Indeed, but we'll not have a step to apply K-factors (and we explicitly stated we'll not provide).Are you suggesting we should do only NLO fit for the time being?

[2022-01-18 12:21] scarlehoff commented on #123
No, we can do a NNLO fit but whenever we need a K-factor this is a multiplicative factor applied by `validphys` so it doesn't matter whether the underlying fktable is pineappl or not.

[2022-01-18 12:30] AleCandido commented on #123
Ok, so we simply do not deliver NNLO grids for the time being.
I guess if we stick to NLO, `mg5` can do everything. (Is there something missing?)

In any case, we won't have runcards even for all NLO we need for a while, so we need to run `appl2pine` for the time being.
But I guess we can keep it in `fkutil`, and then add here only the runcard, whenever it will be ready.

I'm going to close this,

[2022-01-18 13:15] felixhekhorn commented on #123
Mmm, I'm not sure - I think, we should still do something here

true, but this is not the problem here, right? we still need to convert grids (even at NLO, I think, e.g. DIS jets)

I think, I'd like to move that to this repo since, as said [here](https://github.com/NNPDF/fktables/issues/12#issuecomment-1015395515), to me a new theory is "(list of PineAPPL files) + (list of {dataset}.yaml)" and, to

[2022-01-18 13:17] cschwan commented on #123
@felixhekhorn I see, now I understand what you're after. That would certainly be convenient, but it's probably not a priority right now (!?).

[2022-01-18 13:21] cschwan commented on #123
In the easiest case we could write a `postrun.sh` in the corresponding dataset directory which fetches the APPLgrids/fastNLO tables, converts them and adds the correct metadata binning info. `./rr` would have to make sure we have `appl2grid` and `fastNLO` (and their dependencies ...).

[2022-01-18 13:41] AleCandido commented on #123
Yes, so maybe we can just implement a `void` backend (some sort of `noop`) and rely on `postrun.sh`.

Most of the dependencies we already have, I guess we just need `meson` and to compile them.

[2022-01-18 14:08] cschwan commented on #123
That sounds good!

You can install `meson` and `ninja` using pip, so that should be easy!

[2022-02-03 16:16] felixhekhorn commented on #105
I guess this is `CMS_1JET_8TEV `, right?

[2022-02-03 16:18] cschwan commented on #105
Right!

[2022-02-09 16:04] cschwan opened #124 "Add positivity observables"
Do we want a generator in this repository for the positivity observables? This would be basically https://github.com/N3PDF/pineappl/blob/master/examples/python/positivity.py.

[2022-02-09 16:58] cschwan commented on #124
That was my train of though also. I'd volunteer to take care of it, if you're busy with other projects.

[2022-02-09 18:27] AleCandido commented on #124
We're slowly completing most of the chores, but still I would not do it before ~10 days. If you can start, do it :)

Were you thinking something about a new backend (like `yadism`, `mg5`, and conversions the moment we'll get there), a new subcommand, or just moving the script?

[2022-02-10 07:49] cschwan commented on #124
I was thinking about making it a new backend, which isn't too complicated given that we already have that script.

[2022-02-10 09:44] cschwan commented on #124
OK, thanks for your pointers, let me try to implement it!

[2022-02-10 09:51] felixhekhorn commented on #124
then it should be the runner version

[2022-02-10 10:02] AleCandido commented on #124
runner version is included always by default:
https://github.com/NNPDF/runcards/blob/500e06c14cf2b42c2897fd6360fc0df347af6516/runcardsrunner/external/interface.py#L110-L116

(even though maybe we can even drop `pygit2` at some point, and try to use the `poetry-dynamic-versioning` provided one, they should coincide)

[2022-02-10 10:14] felixhekhorn commented on #124
yes, I meant just not to leave it empty or something, but put the version twice (such that one can guess the generator, i.e. if they are the same the generator is built-in)

[2022-02-10 10:35] AleCandido commented on #124
No, why twice? It is redundant, and runner is runner, so leave it empty.

Consider that there is no *standard field* for `external`, yadism add a `yadism_version`, and mg5 add an `mg5_version`. Here there is nothing but the runner, so leave it empty.

[2022-02-10 10:36] AleCandido commented on #124
If you want to log the generator used let's add a separate field, and make it explicit (even though it might already been logged somewhere, but I'm not sure).

[2022-02-10 14:27] felixhekhorn opened #125 "Path configuration"
related to https://github.com/NNPDF/fktables/issues/4

more specific: https://github.com/NNPDF/fktables/issues/4#issuecomment-960597954

[2022-02-10 14:28] felixhekhorn opened #126 "Move patches folder into package"
move `patches` from top-level to `runcardsrunner/external/mg5` so inside the package

[2022-02-14 15:47] cschwan opened #129 "Fix datasets with jets"
In Madgraph5_aMC@NLO v3.3.1 the cutting routine was changed, so that `pjet` isn't calculated in the place where we use it anymore. We either have to 1) run the jet algorithm ourselves or 2) move jet-related custom cuts from `passcuts_user` to `passcuts_jets` in `cuts.f`.

[2022-02-15 07:00] AleCandido commented on #129
I've not a perfect understanding, but to me seems like option 1) is sufficiently more complicated than 2) (do we need to run an extra step in the runner? do we need to embed the fortran/python code?).

Option 2) looks like something I can do with `sed` in the `cuts_code` folder (plus moving the place where code is injected, maybe...).
Probably I'm really not understanding something...

[2022-02-15 07:47] cschwan commented on #129
I like option 2 better than 1, because it's faster as you said, but it requires some non-trivial adjustments. We need to essentially sort our custom cuts according to jet cut/non-jet cuts, and then write them into different functions in `cuts.f`.

[2022-02-15 10:12] cschwan opened #130 "Missing `tomlkit`"
At least on `dom` on the `DIS-more` branch I get:

[code]

[2022-02-15 10:30] AleCandido commented on #130
Can you add details on how to reproduce, please? (i.e. which command did you launch)

[2022-02-15 10:44] AleCandido commented on #130
Not reproduced  locally, I'm going to try on `dom`

[2022-02-15 10:50] cschwan commented on #130
That's strange:

[code]

[2022-02-15 10:59] AleCandido commented on #130
I've just run:

[code]

on `dom`, and it worked.

[2022-02-15 13:16] felixhekhorn commented on #130
@cschwan this seems to me like your `poetry-dynamic-versioning` installation is somehow corrupted ... as far as I understood it has to be installed alongside `poetry` (meaning in the very same environment)

what do you get on
[code]
and
[code]

see also https://github.com/mtkennerly/poetry-dynamic-versioning#installation

and `tomlkit` is a direct dependency https://github.com/mtkennerly/poetry-dy

[2022-02-15 13:18] cschwan commented on #130
There you go:

[code]

[2022-02-15 15:04] cschwan commented on #130
I understand what you're saying, but in a sense that defeats the purpose of `./rr` - I don't care about poetry or any other Python package, I just want to generate processes.

[2022-02-15 15:08] felixhekhorn commented on #130
Mmm but that's like saying "I just want to play that game" and then missing on the video driver, no?

[2022-02-15 15:27] AleCandido commented on #130
Actually, I believe this will be solved by #127 and #128.

The workflow I have in mind is the following:
- if you're a developer, you're in charge to install `poetry` & co. by yourself
- otherwise, you can just use `pip install`, both with the remote version (`pip install <runcards-runner-final-name>`) and with the local one (`pip install .`)

Once you install with `pip`, then `rr` or its replacem

[2022-02-15 18:22] AleCandido commented on #129
We can simply split them in two folders (the natural way to create scopes on filesystem).

We can split by hand, they are not that many (and we should check we are choosing them correctly).
However, just to point it out, I believe there is simple rule to decide if it's a jet cut or not: "if it contains at least a `j` in the file name it's a jet, otherwise it is not".

[2022-02-16 08:00] cschwan commented on #130
True :smile:, and I've worded my statement probably more strongly than I felt, because - at least subjectively - 'poetry' keeps breaking time and again for me.

I've just recently realized that what I had in mind concerning the design of our runner was the containerization of the runcards runner; this would solve all the version and installation problems reliably.

[2022-02-16 08:33] AleCandido commented on #130
I keep thinking about `poetry`, that's also the feeling of @scarlehoff for example.

But analyzing all the issues one by one, what I currently believe is that `poetry` failures are just the signal of us doing something bad (mostly with versions). So, in most cases it's leading to early detection of inconsistencies.

This applies to all the restrictions on the python versions, or the dependency on

[2022-02-16 08:43] cschwan commented on #130
@AleCandido I agree with what you said; I've put 'poetry' in quotation marks in my comment above, because it's a little bit unfair to blame poetry for all problems, of course!

[2022-02-16 09:02] scarlehoff commented on #130
To be completely honest, one of the reasons the `python` ecosystem is broken in dom is because we tried to be too clever using the same python environment for 4 different people... I'm actually amazed at how well it works most of the time.

we have < system>(shared) < FK>(shared) <.local>(each has their own)

in general < system> should always be consistent because is coming from the arch reposito

[2022-02-16 09:35] AleCandido commented on #130
I'd have said so as well, but at this point I believe we won't have a final name in less than one month and something, i.e. code meeting/collaboration meeting.
So, at this point I don't care any longer, I'll keep acting as if the name is final, and I'll pay the price of renaming stuffs afterwards.

Another relevant consideration is that `poetry` is not mandatory. Actually, it violates the UNIX phi

[2022-02-16 10:32] cschwan commented on #129
@AleCandido I'm a bit unhappy about the fact that Madgraph5 changed this; a possible problem that I see is that there are cuts that conceren jets and leptons at the same time, meaning that we can't separate them, and I wonder if it isn't a better choice to rewrite the cutting routine slightly so that we don't have to change our cuts.

[2022-02-16 17:31] AleCandido commented on #129
I'm not an expert of `mg5` internals, but if you feel like of course you can have a try, and I can just review it :)

[2022-02-17 14:35] #126 closed

[2022-02-17 19:38] AleCandido commented on #123
I hope to get back here soon (even if not immediately), and I was looking back even at https://github.com/NNPDF/runcards/issues/124#issuecomment-1033982276.

Do we want to move even `appl2pine` and `fnlo2pine` in here? Otherwise I can simply donwload them alongside `pineappl`, and install from there.

As I wrote above, the runner can be simply a `void` one, just running `postrun.sh`, in which ther

[2022-02-18 07:25] cschwan commented on #123
What do you mean exactly with move?

[2022-02-18 07:56] AleCandido commented on #123
Speaking of, maybe we should start using a PineAPPL release, instead of `master`. What do you think @cschwan?

[2022-02-18 08:28] cschwan commented on #123
I'd like to promote them from examples to proper programs, but `appl2pine` requires ROOT and the NNPDF-modified APPLgrid, where the former is big and complicated to install. `fnlo2pine` requires the official fastNLO. So the problem is to package all these dependencies.

I was thinking about integrating the fastNLO converter into the PineAPPL CLI as `pineappl import`, but I don't know how difficult

[2022-02-18 09:27] #120 closed

[2022-02-18 09:30] felixhekhorn commented on #123
Maybe not inside the pineappl library? (such that you can opt-out) You could do a `pineappl_utils` (or similar name) alongside `pineappl_cli` etc. Of course we would prefer also a python binding ...

On the other side `appl2pine` seems sufficiently complicated, so I wonder if not leave it where it is (of course the complication will become relevant here, as e.g. we would need to download its depen

[2022-02-18 09:31] AleCandido commented on #123
This I'm going to do in a separate PR (and this way I'll even drop the dependency on `pygit2`, and a considerable amount of Git overhead).

[2022-02-18 09:33] AleCandido commented on #123
I'd say that the CLI would be optimal, I'm thinking about how to do it in practice. I'm going to move it to a dedicated PineAPPL discussion, most likely this is not the best place.

[2022-02-18 11:08] felixhekhorn opened #131 "Comparison to MC"
@AleCandido

I still get weird numbers (which I'm ignoring for now, since we believe it to be only a problem of comparison)
[code]

_Originally posted by @felixhekhorn in https://github.com/NNPDF/runcards/issues/117#issuecomment-1044349708_

[2022-02-18 12:25] AleCandido commented on #131
This problem is not present on my locally computed grid `CHORUS_CC_NB_PB_SIGMARED-20220215230008`, so I believe this to be still a version problem.

I'm recomputing (locally) with current version, to check again.

[2022-02-18 13:03] AleCandido commented on #131
It keeps working locally on my desktop, I believe there is really something outdated.

[2022-02-18 13:19] felixhekhorn commented on #131
If only I take the correct grid, i.e. `CHORUS_CC_NB_PB_SIGMARED-20220218123325` there is no problem :see_no_evil:

[2022-02-18 13:19] #131 closed

[2022-04-19 13:25] cschwan opened #133 "Add support for PDFs other than protons"
Anything other than protons yields a wrong convolution:

https://github.com/NNPDF/runcards/blob/master/runcardsrunner/table.py#L33-L35

This should read out the metadata `initial_state_1` and `initial_state_2` and call `Grid::convolute_with_two` if the initial states are different.

[2022-05-20 14:52] cschwan opened #135 "Allow integration of different distributions during the same mg5_aMC run"
Something that isn't possible with our toolchain is to generate two separate distributions, because all grids are merged together in the end. For the [CDF W-boson mass grids](https://github.com/NNPDF/runcards/pull/134) that would be beneficial and also for some of our top-pair production grids. We could distinguish distributions that need to be merged together and those which are separate by looki

[2022-05-20 15:11] cschwan opened #136 "Replace `arxiv` metadata field with `inspirehep` field?"
I just realized that we only have an `arxiv` metadata field, which for some datasets is empty, because there isn't a paper on arxiv! This often the case for the older datasets, but also for a few new ones.

I therefore suggest to add the inspirehep.net reference and remove (?) the arxiv field; we should be able to get the arxiv field from the inspirehep entry. What do you think?

[2022-05-20 15:23] felixhekhorn commented on #136
Actually the new CommonData [buildmaster/NMCPD/metadata.yaml](https://github.com/NNPDF/nnpdf/blob/NEW_COMMONDATA/buildmaster/NMCPD/metadata.yaml) has both (which is a bit redundant); I seem to remember that some even don't have either (e.g. https://github.com/NNPDF/runcards/blob/master/nnpdf31_proc/HERA_CC_318GEV_EM_SIGMARED/metadata.txt)

[2022-05-20 16:56] AleCandido commented on #136
I would add `inspirehep` as you suggest, and downgrade the `arxiv` entry to "optional": for those that already have it, I don't believe it is particularly harmful to keep (it is not going to become incosistent).

[2022-05-21 08:50] cschwan commented on #136
That's a good idea; let's do that.

[2022-05-22 13:49] cschwan commented on #133
It seems the problem is more complicated than I initially thought. For the CDF measurements (proton + anti-proton) the table that displayed at the end shows wrong results for PineAPPL, although the lines shown above should be correct.

[2022-05-22 21:10] AleCandido commented on #133
Wait, I don't understand: in `ŧable.py` we're only calling `convolute_with_one` (never `convolute_with_two`) and `initial_state_1` and `initial_state_2` are never accessed.

So, unless you're testing a locally upgraded version, I still believe the OP is right, and we should first try in that direction. Isn't it?
(if the grid have not been conjugated in place of the PDF)

[2022-05-23 06:48] cschwan commented on #133
@AleCandido CDF measurements should be working (proton + anti-protons) should be working, but what I see is they don't. Could you try to reproduce that behaviour? Try the `CDF_WMASS` branch and pick any distribution and reduce the statistics so that it runs faster.

[2022-05-23 08:24] AleCandido commented on #133
I'll do, definitely, but according to me the problem is really in the convolution:
https://github.com/NNPDF/runcards/blob/b4da9bb8ddee30ed56d5ae38d81fae9450b81286/runcardsrunner/table.py#L33-L35

As you see, `pineappl_results` are only computed using `convolute_with_one`, and the information about initial states is hard-coded in the `2212`. So there is really no chance to get a correct prediction

[2022-05-23 11:12] cschwan commented on #133
Commit bb3fb45fd640482a61f9f64b7773c601bb5dcea8 should fix the problem.

[2022-05-25 12:54] Radonirinaunimi opened #137 "Error during linking with CC"
For some reasons I couldn't exactly figure out yet, there is an error when linking to the `cc` during the installation of `pineappl`. This causes the command `./rr run <folder> <theory>` to crash. Here are the [logs](https://github.com/NNPDF/runcards/files/8771215/log.txt) from running that command. In case it might be useful, here are the [logs](https://github.com/NNPDF/runcards/files/8771233/run

[2022-05-27 06:58] cschwan commented on #137
This seems to be caused by having two (?) different compilers and possibly incomplete environment variables. Could you try to install/run everything outside your CONDA environment?

[2022-06-02 12:11] #124 closed

[2022-06-02 19:03] cschwan commented on #137
For the final runs we'll have to decide which values of MW we'd like to scan, but we can talk about that tomorrow during the PC.

[2022-06-02 20:19] Radonirinaunimi commented on #137
Yes! Let's indeed see how the results look like once the runs are over.

Sounds good!

[2022-06-03 12:10] enocera commented on #137
@Radonirinaunimi Just for the record, here's the link to the Nikhef wiki web page with explanations on how to make use of modern compilers and other pieces of code https://wiki.nikhef.nl/grid/Modern_C_Compiler,_ROOT,_Geant

[2022-06-03 13:01] Radonirinaunimi commented on #137
Thanks a lot @enocera ! This documentation is incredibly useful.

[2022-06-14 17:48] scarlehoff opened #140 "Add DY Positivity"
Once #139 is finished, the next step will be to use it (or extend it) to order to build positivity datasets for DY.

[2022-07-09 05:16] cschwan opened #142 "Download mg5amc using git"
Their new repository is now on github: <https://github.com/mg5amcnlo/mg5amcnlo>. We should use the [3.4.1 branch](https://github.com/mg5amcnlo/mg5amcnlo/tree/3.4.1), which includes the [bias reweighting patch](https://github.com/mg5amcnlo/mg5amcnlo/commit/c586517c58169d220314280dc6aa1ab6decb9c37) that might be needed in the future.

[2022-07-12 09:27] #137 closed

[2022-07-22 10:32] AleCandido opened #144 "Log instead of print"
At the moment, in `runcardsrunner` I'm printing (w/ or w/o `rich`, even inconsistently...) so I should move to logging (using `rich` as handler, it will be automatically consistent).

Most likely [`log.py`](https://github.com/NNPDF/runcards/blob/config-files/runcardsrunner/log.py) will have to be updated accordingly (e.g. `Tee`).

Thanks @scarlehoff for noticing

[2022-07-22 12:53] felixhekhorn commented on #140
closed via #141

[2022-07-22 12:53] #140 closed

[2022-07-22 16:48] AleCandido opened #145 "Replace clone with donwload"
It seems that to clone a repository from GitHub now you always need to set credentials, whatever URL you are using.

So, I'm proposing to replace repositories (that in general are also an overkill) with the `master`/`main` branch content, i.e. instead of cloning with Git we will just download the zip content of one branch from GitHub.
E.g. for this repository the corresponding URL is https://githu

[2022-07-22 16:54] felixhekhorn commented on #145
latest release definetely

about which repos are we talking about? because all python stuff (eko, yadism) should come without repo (but via PyPI). If we're not using releases (everywhere) we could likewise give up on poetry ;-)

[2022-07-22 17:31] AleCandido commented on #145
PineAPPL and MadGraph. In particular, for PineAPPL we need to install the C API, and it's not a great idea to ship it as Python package (but maybe I'm just wrong...).

[2022-07-22 17:34] scarlehoff commented on #145
It should be possible to clone with no url. That said, agree with the following:

[2022-07-22 18:50] AleCandido commented on #145
I thought so as well (for public repositories of course), but I was not able to do it with `pygit2` and GitHub...

Ok, let's go for latest then!

[2022-07-25 09:08] felixhekhorn commented on #145
I guess also vrap @scarlehoff ?

and to be more precise: let's not use `latest`, but a fixed version! to be specific for PineAPPL this would be `import pineappl; pineappl.__version__` as defined by `pyproject`

[2022-07-25 09:14] AleCandido commented on #145
Ok, that might be fine as well

[2022-07-25 11:26] scarlehoff opened #146 "Add minimal CI testing"
Having complete tests for this repository would be crazy (because some of the stuff we run could take weeks). But we should create a small-ish runcard per runmode so that we can check that things can run.

Even better if we do it regression-test style, so that we ensure that when results change we know why it is.

[2022-07-25 11:26] scarlehoff opened #168 "Add minimal CI testing"
Having complete tests for this repository would be crazy (because some of the stuff we run could take weeks). But we should create a small-ish runcard per runmode so that we can check that things can run.

Even better if we do it regression-test style, so that we ensure that when results change we know why it is.

[2022-07-25 11:31] scarlehoff opened #147 "Check for pineappl before installing vrap"
At the moment this is not the case. We want to automatize this right?

https://github.com/NNPDF/runcards/blob/e3601ef290d9eef2e21af9454f8e5a88f900e2e8/runcardsrunner/cli/install.py#L32

[2022-07-27 12:46] #108 closed

[2022-07-27 12:46] #125 closed

[2022-07-27 13:16] AleCandido opened #148 "Split runcards and runner?"
@felixhekhorn was proposing to split runcards and runner repositories. To maintain the data and the program separated.

On my side I see:
- **pro**: the development is decoupled, you can clone/download your data repository with nothing there but runcards, and we can version it (tagging) for various works and so on
- **con**: sometimes you really need to implement a feature (like a cut in MadGraph)

[2022-07-27 13:31] AleCandido commented on #142
I would close this in favor of #145. I updated it to include information here.

Do you agree? @cschwan

[2022-07-27 15:25] felixhekhorn commented on #148
- I'm still a big fan of this, because the two things are really decoupled
- as also briefly discussed with @AleCandido: I would even do a further step and split eventually the data repo along the paper repo - since typically runcards have a clear association to a paper: e.g. afb, mw, 4.0 (the question whether the different papers are hosted in the very same repo or not is a separate question - on

[2022-07-27 15:30] scarlehoff commented on #148
This reminds me of the buildmaster discussion and at the end it was decided to have everything together.
Since for now runcard runners (the people) and runner (the program) developers are the same people I think it makes sense to keep it together at least for the time being. Once the program is so stable that the runcards really have a life on its own then we can easily split the folder of runcard

[2022-07-27 15:35] AleCandido commented on #148
Consider that MadGraph runcards contains analyses files (Fortran), patches (still Fortran, but in the patch format), and postrun scripts (shell). E.g.:
https://github.com/NNPDF/runcards/tree/924078d60beabd579e98e782d7ee306ec85a490e/nnpdf31_proc/ATLAS_1JET_8TEV_R06

[2022-07-27 15:36] AleCandido commented on #148
The moment we decide a name, I can set the releasing workflow (reusing the usual one, so it is really a few lines of YAML).

[2022-07-27 16:36] cschwan commented on #148
After seeing a bunch of video on how to grow pineapples - apparently it's quite easy :wink: - I'm thinking about `pineapplfarm` or a variation of that:

    pineapplfarm grow ATLAS_WP_7TEV theories/theory_200_1.yaml

This will grow a nice PineAPPL grid:

    ATLAS_WP_7TEV.pineappl.lz4

[2022-07-27 17:34] AleCandido commented on #148
Then what about just `farm`, for simplicity? (and ease of typing)

We can add a pineapple in a banner, or somewhere else, to stress the concept of the pineapple farm :D

[2022-07-28 07:40] cschwan commented on #148
@AleCandido I'm afraid `farm` *might* (or might not) be a bit too generic. There's already [FARM](https://farm.deepset.ai/) (seems to be an API, no binary). A compromise could be `pinefarm`, which is similar to `pineko`.

[2022-07-28 08:41] AleCandido commented on #148
The domain already provides a natural namespace-like feature (it's unlikely to have a user of both), and repeated names are not so uncommon, you just have to avoid to overwrite something very common (from `ls` to `systemctl`, `htop` and so on).

However, I'm actually in favor of `pinefarm`.

Then maybe the package should be called `pinefarm` as well, it's the simplest choice.

[2022-07-28 20:15] AleCandido commented on #148
Ok, from now on, we finally have `pinefarm` and `pinecards`! :tada:

[2022-07-28 20:23] AleCandido commented on #148
And now it is also on [PyPI](https://pypi.org/project/pinefarm/) :snake:

You can install with:
[code]

[2022-07-29 06:52] AleCandido commented on #148
Now even workflows are in place, and we **release** by pushing **tags**.
The test workflows is not testing at the moment (because there is no test available, even though it would be a good idea to have a few). But it is **linting**, and **installing dependencies** at every push (otherwise CI runs only on tags).

[2022-07-29 06:59] cschwan commented on #148
That's clever, I might copy it for PineAPPL.

[2022-07-29 08:07] AleCandido commented on #148
If you want to release tagging, I can provide something for PineAPPL.
Unfortunately, the workflow I'm using is very much tuned for a Poetry-only project, but it is not so hard to cook one dedicated, it has only to:
- bump versions (but for this there is `make_release.sh`)
- run `cargo publish` for all relevant crates in the workspace (e.g. not `pineappl_py`)

`pineappl_py` is already released by t

[2022-07-29 08:29] felixhekhorn commented on #148
For the sake of this issue: we keep them together for now (as suggested by @scarlehoff ) - so we can close this issue

PS: to continue the off-topic discussion
- @cschwan : I guess we can drop `run.sh`, `Makefile`, `applcheck.cpp` ?
- shall we also start publishing to rtd?

[2022-07-29 08:40] AleCandido commented on #148
We are already on rtd, just with the wrong name: https://runcars.readthedocs.io/en/latest/

[2022-07-29 08:43] cschwan commented on #148
@felixhekhorn let's get rid of these files.

[2022-07-29 08:51] felixhekhorn commented on #148
I forgot ... maybe [we need to write to them?](https://docs.readthedocs.io/en/stable/faq.html#how-do-i-change-the-version-slug-of-my-project) or maybe when we rename the repo we get a new slug?

[2022-07-29 08:58] AleCandido commented on #148
Consider that it was wrong even with respect to the current name...

However, from the settings I see no way to change the URL.

[2022-08-18 08:26] #122 closed

[2022-08-27 18:31] AleCandido opened #153 "Explicit Installation Dependencies"
2. I'm not fully happy about the "dependencies": they are a bit hidden inside the functions; nothing we need to deal now, but maybe I'd implement a very basic "dependency manager": a dictionary (containing mutual dependencies), and when start installing things we populate a list, and iterate over it to install stuffs sorted (it should be simple enough, but more explicit)

_Originally posted by @Al

[2022-08-27 18:33] #147 closed

[2022-09-13 16:16] felixhekhorn opened #154 "Remove double quotes in vrap cards"
Since @AleCandido [pointed out to me](https://github.com/N3PDF/yadism/pull/146#discussion_r968576433), I became aware of other people doing the same: double quotes in yaml are not needed for strings and can be surpressed: https://github.com/NNPDF/runcards/blob/a33eb132be6b1f0a31209281cef93fccedf9db11/pinecards/DYE605/vrap.yaml#L17-L18

(as a plus, if you want, choose a spelling for yes/no - actual

[2022-09-13 16:27] scarlehoff commented on #154
[code]
Apparently `yaml.safe_load` needs quotes for yes/no, but I will fix the spelling

[2022-09-13 16:40] AleCandido commented on #154
Indeed: `yes`, `no`, `true`, `false` are special strings

`no` in particular it is known as the [Norway problem](https://hitchdev.com/strictyaml/why/implicit-typing-removed/)

[2022-09-13 16:46] scarlehoff commented on #154
Ah, the famous nordic countries: Denmark, Finland, Iceland, Sweden and `False`

[2022-09-14 08:56] #154 closed

[2022-09-14 09:29] AleCandido commented on #154
But actually @scarlehoff, why are you using the `yes` and `no` strings, instead of booleans?

[2022-09-14 09:37] scarlehoff commented on #154
The vrap gods decided so.

[2022-09-14 09:40] AleCandido commented on #154
But is it worth to propagate it to our runcards?
I'd rather propose to do the translation from booleans to vrap values (i.e. `yes` and `no`), and keep our runcards more meaningful...

[2022-09-14 09:44] scarlehoff commented on #154
Yes, because one of the requests for the runcards was that they were almost `vrap` runcards (and they are, just removing the `:` they become `vrap` runcards). If there were more complicated translations going on already I would agree but as they stand right now I prefer to use the `vrap` literals.

[2022-09-14 09:51] AleCandido commented on #154
Ok, I agree.

Let's just keep in mind for later then. If ever we'll improve the runcard structure, we'll switch to booleans.

[2022-09-20 16:19] #142 closed

[2022-10-21 09:40] cschwan opened #156 "Update README"
The README isn't up-to-date and in particular it doesn't answer the important question: how do I run a process?

[2022-11-17 14:58] felixhekhorn opened #158 "pinefarms can not be run stand-alone but requires a repo"
@niclaurenti got hit by the following bug:

in https://github.com/NNPDF/runcards/blob/7f11afce4242791acad47d4c7be393e629b5121d/pinefarm/external/interface.py#L114 we require that we are inside an actual repo (as would be in development mode, so when cloning this repo) - not being so, as can happen e.g. upon `pip install pineline[full]` and adding some stand alone cards, results in an exception (@n

[2022-11-17 15:16] felixhekhorn commented on #158
@niclaurenti actually the other problem you faced, i.e. that the grid was not lz4 compressed, is a direct consequence of this bug because you never reached this line here https://github.com/NNPDF/runcards/blob/7f11afce4242791acad47d4c7be393e629b5121d/pinefarm/external/interface.py#L154 which would do it

[2022-11-17 15:19] felixhekhorn commented on #158
@niclaurenti if you wish you can even open a PR here and do what I proposed:

you already know which exception to catch ;-)

[2022-11-25 13:51] scarlehoff opened #160 "Do we need lz4 v3?"
https://github.com/NNPDF/runcards/blob/9c1f06fb6c2e5a439e54b7e8af586d9c12d7ad6f/pyproject.toml#L30

This is connected to this issue https://github.com/NNPDF/pineline/issues/15
I can install lz4 v4.0.2 perfectly fine, but version 3. errors out (I think because it tries to look for `Python.h` in the wrong place, so clearly their fault. But since I needed to install python3.10 somewhere else it doesn

[2022-11-25 14:16] felixhekhorn commented on #160
I guess this is a matter of running `poetry update` in `pinefarm`?

[2022-11-25 14:20] scarlehoff commented on #160
I don't know, maybe there was some specific reason.

[2022-11-30 10:37] Radonirinaunimi opened #162 "Generate pinecards and pineapplgrids for nPDF"
Replacement to https://github.com/NNPDF/fktables/issues/34

Write `pinecards` for the following datasets and compute the corresponding `pineapplgrids`. For all the datasets below, the observable is always a ratio of $F_2$ structure functions: $R(x, Q^2, A_1, A_2) = [F_2(x, Q^2, A_1)/F_2(x, Q^2, A_2)]$.

| Dataset name  |  Ref.  | A(num)  |  A(den)  | FK Tables Comparisons  |Outputs | Comments  |
|